@use './partials/global' as *;

//Color variables
$nitro-blue: #5BACC3;
$nitro-pink: #FFF0ED;
$graphite: #393939;
$gray: #909090;
$lightgray: #F7F7F7;
$white: #FFF;

//fonts

.h1 { //heading 1&2
    font-size: 3.75rem;
    font-weight: 300;
}

.h2 { //heading 3, nav & footer
    font-size: 2.063rem;
    font-weight: 300;
}

.text1 { //Navlink & Button
    font-size: 1.313rem;
    font-weight: 400;
}

.text2 { // regular text
    font-size: 1.125rem;
    font-weight: 400;
}

.no-list-style {
    text-decoration: none;
    list-style-type: none;
}

// blocks////////////////////////////////////////////////////////////////////////////

.nav { //nav block
    background-color: $nitro-pink;
    min-width: 100%;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__link { // nav link element
        text-decoration: none;
        color:  $graphite;
        &--blue { // special element for when the nav link is blue
            color: $nitro-blue;
        }
    }
    &__img { // main nav img element
        min-width: 50px;
        max-width: 120px;
        height: 2.5rem;
        margin: 1.25rem 0 0 1.25rem;
        display: inline-block;
    }
    &__title { // main nav title element
        width: 10%;
        height: fit-content;
        margin: 0.625rem 1.25rem 0.625rem 0;
        padding: 0.625rem 1.25rem 0.625rem 0;
        @extend .h2;
        color: $graphite;
        display: inline-block
    }
    &__list { // Main nav list element
        @extend .text1;
        @extend .no-list-style;
        display: inline-block;
    }
    &__item { //main nav list item element
        height: fit-content;
        width: fit-content;
        margin: 0.625rem;
        padding: 0.625rem;
        display: inline-block;
    }
}

.menu-title { //menu-title block
    min-width: 100%;
    max-width: 100%;
    min-height: 35.938rem;
    max-height: 37.5rem;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/images/coffee-circle.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    &__article { // menu title box element
        min-width: 17.5rem;
        max-width: 18.75rem;
        min-height: 11.25rem;
        max-height: 12.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: $graphite;
        position: relative;
    }
    &__border { // menu title border element
        min-width: 17.5rem;
        max-width: 18.75rem;
        min-height: 11.25rem;
        max-height: 12.5rem;
        border: 0.313rem solid $nitro-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -0.938rem;
        left: -0.938rem;
    }
    &__title { // menu title header element
        @extend .h1;
        color: $white;
    }
}

.sub-nav { // sub nav block 
    min-width: 100%;
    max-width: 100%;
    min-height: 3.75rem;
    max-height: 5rem;
    padding: 0.625rem;
    background-color: $graphite;
    &__link { // sub nav link element
        text-decoration: none;
        color:  $white;
    }
    &__list { // sub nav list element
        width: fit-content;
        height: fit-content;
        margin: 0.625rem auto;
        @extend .no-list-style;
    }
    &__item { // sub nav list item element
        border-left: 0.25rem solid $nitro-blue;
        padding: 0 1.25rem;
        @extend .text1;
        display: inline-block;
        text-transform: uppercase;
    }
}

.menu { // menu blck
    &__section {
        min-height: fit-content;
        text-align: center;
        @extend .text2;
        color: $graphite;
        background-color: $nitro-pink; 
        &--odd { // menu odd section modification
            background-color: $lightgray;
        }
    }
    &__title { // menu title element
        padding: 1.25rem;
        @extend .h1
    }
    &__aside { // menu aside element
        align-self: left;
    }
    &__product { // menu product name element
        padding: 0.625rem;
        @extend .h2;
    }
    &__product-price { // menu product price text element
        color: $nitro-blue;
        padding-bottom: 1.25rem;
    }
    &__product-description { // menu product description text element
        max-width: fit-content;
        margin: 0 auto;
        padding: 0;
        font-style: italic;
    }
}

